body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.transaction-form {
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

canvas {
    color: blue
    margin-top: 20px;
}
